name: Publish Texture Pack

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip Resource Pack
        run: |
          # The * finds your folder automatically regardless of the backtick
          cd Drigo*/ 
          zip -r ../Drigo 3D Lantern`s x Punchy.zip assets/ pack.mcmeta pack.png

      - name: Publish to Modrinth & CurseForge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: X4S78Ho4
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: 1458402
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          name: Drigo 3D Lantern`s x Punchy ${{ github.ref_name }}
          version: ${{ github.ref_name }}
          version-type: release
          game-versions: |
            1.21
            1.21.1
          loaders: minecraft
          files: Drigo 3D Lantern`s x Punchy.zip
